<div class="container">
  <h1>Ajouter des doses</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Ajouter une dose", class: "btn btn-primary" %>
  <% end %>
</div>
